//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
$white: #fff;
$orange-dark: #f08c33;

//@import "widgets/main.js";

/*$z-fixed-menu: 100;*/

//normalize
@import "_misc/normalize.scss";

// setups
@import "_misc/fonts.scss";
@import "_misc/layout.scss";

// blocks
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/btn.scss";
@import "blocks/promo.scss";
@import "blocks/best.scss";
@import "blocks/reviews.scss";
@import "blocks/fixed-menu.scss";
@import "blocks/black.scss";
@import "blocks/team.scss";
@import "blocks/menu.scss";
@import "blocks/work.scss";
@import "blocks/delivery.scss";
@import "blocks/map.scss";
@import "blocks/footer.scss"
